* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0b223a;
  height: 100vh;
}

nav {
  background-color: #050e18;
}

nav .navbar {
  display: grid;
  place-items: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1% 0;
}

nav .navbar .logo {
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  place-self: start;
}

nav .navbar .logo img {
  width: 100%;
  height: auto;
}

nav .navbar ul.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

nav .navbar ul.nav-links li {
  list-style: none;
}

nav .navbar ul.nav-links li a {
  text-decoration: none;
  color: #d1d3d4;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  transition: 0.3s;
  position: relative;
}

nav .navbar ul.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}

nav .navbar ul.nav-links li a:hover {
  color: #fff;
}

nav .navbar ul.nav-links li a:hover::before {
  transform: scaleX(1);
}

nav .search {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: relative;
}

nav .search input {
  width: 100%;
  max-width: 200px;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  background: #050e18;
  border: 1px solid #accfe0;
  border-right: none;
  color: #d1d3d4;
  padding-right: 50px;
}

nav .search input:focus {
  border: 1px solid #0bad21;
}

nav .search button {
  width: 100%;
  max-width: 40px;
  height: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #accfe0;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

nav .search button:hover {
  background: #0bad21;
}

nav .burger-menu {
  display: none;
}

nav .burger {
  display: none;
  width: 100%;
  max-width: 33px;
  height: 33px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #accfe0;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  left: 2%;
  top: 2%;
  padding: 5px;
  z-index: 100;
}

h1 {
  color: #d1d3d4;
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
}

#container,
.loading-skeleton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2%;
  height: auto;
  width: 85%;
  margin: 5% auto;
  padding-bottom: 5vh;
}

#container {
  display: none;
}

.loading-skeleton {
  row-gap: 12%;
}

.card-container {
  background: rgb(106, 122, 181);
  background: linear-gradient(
    328deg,
    rgba(106, 122, 181, 1) 0%,
    rgba(11, 34, 58, 1) 59%
  );
  color: #d1d3d4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: #6a7ab5 2px solid;
  width: 100%;
  max-width: 35vw;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.loading-skeleton .card-container {
  background: #050e18;
  box-shadow: none;
  border: none;
  min-height: 260px;
  animation: loading 0.9s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.card-container .card {
  background: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 1fr;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: relative;
}

.card-container .card .card-img {
  width: 100%;
  height: auto;
}

.card-container .card-title {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: absolute;
  bottom: 10%;
  z-index: 10;
  color: black;
  text-shadow: 1px 0 #fff, 0px 0 #fff, 0 1px #fff, 0 0px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.card-container svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

#popup {
  position: fixed;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#popup .close-btn {
  position: absolute;
  top: -1vh;
  right: -1vh;
  cursor: pointer;
  padding: 6px;
  width: 80%;
  margin: 0 auto;
  z-index: 999;
  max-width: 30px;
  max-height: 30px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

#popup .close-btn svg {
  height: 20px;
}

#popup .popup-container {
  height: 95%;
}

#popup .popup-container .popup-card {
  height: 100%;
}

#popup .popup-container .popup-card iframe {
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 998;
  display: none;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0b223a;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

footer p {
  color: #d1d3d4;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
}

footer p a {
  color: #d1d3d4;
  text-decoration: none;
}

.live-stream {
  display: none;
  width: 85%;
  margin: 5% auto;
}

@media only screen and (min-width: 100px) and (max-width: 830px) {
  h1 {
    font-size: 1.5rem;
  }

  nav .navbar-desktop {
    display: none;
  }

  nav .burger {
    display: block;
  }

  nav .burger .line1,
  nav .burger .line2,
  nav .burger .line3 {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px auto;
    transition: 0.3s;
  }

  nav .burger.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  nav .burger.active .line2 {
    opacity: 0;
  }

  nav .burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav .burger-menu {
    display: block;
  }

  nav .burger-menu ul {
    position: fixed;
    height: 50%;
    width: 50%;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0b223a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  nav .burger-menu ul.active {
    transform: translateX(0%);
  }

  nav .burger-menu ul li {
    margin: 20px 0;
    width: 80%;
  }

  nav .burger-menu ul li a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.3s;
  }

  nav .search {
    width: 80%;
  }

  nav .search input {
    font-size: 1rem;
  }

  nav .search button {
    max-width: 35px;
  }

  #container,
  .loading-skeleton {
    grid-template-columns: 1fr;
    width: 95%;
    gap: 1%;
  }

  .card-container .card-title {
    font-size: 1rem;
  }

  .card-container {
    max-width: 90vw;
  }

  #popup {
    width: 95%;
    top: 1vh;
  }

  footer p {
    font-size: 0.6rem;
  }

  .live-stream {
    margin: 10% auto;
  }
}
